DATABASE_URL=postgres://vercom:vercom@db:5432/vercom
AUTH_TOKEN_SECRET=replace-with-local-secret
EMAILLABS_APPLICATION_KEY=replace-with-key
EMAILLABS_AUTHORIZATION=replace-with-key
EMAILLABS_API_BASE_URL=https://api.emaillabs.net.pl
PORT=4000
